<html ng-app="Datablog">
    <head>
        <!-- DATADOG RUM -->
        <script
            src="https://www.datadoghq-browser-agent.com/datadog-rum-us.js"
            type="text/javascript"
            integrity="sha384-IYjwA4SyYSuGWv/BUWgCzXkRRJ+i9YhzDBbJGKUe+UKfzTEs8w/hgfU9ubdqzux5"
            crossorigin="anonymous">
        </script>
        <script nonce="<%= cspNonce %>">
            window.DD_RUM && window.DD_RUM.init({
                clientToken: '<%= rum.clientToken %>',
                applicationId: '<%= rum.applicationId %>',
                env: '<%= rum.env %>',
                service: '<%= rum.service %>',
                version: '<%= rum.version %>'
            });
        </script>

        <!-- ANGULAR & CSS -->
        <script src="/vendor/angular.min.js"></script>
        <link href="/stylesheets/style.css" type="text/css" rel="stylesheet">

        <title>Welcome to Datablog!!!</title>
    </head>
    <body ng-controller="MainController as vm">
        <h1>Welcome to Datablog!!!</h1>
        <h2>Pages</h2>
                
        <table>
            <tr>
                <th>ID</th>
                <th>Title</th>
                <th>Created</th>
            </tr>

            <!-- Dynamically create the rows in the table based on [pages]-->
            <tr ng-repeat="page in vm.pages">
                <td>{{ page.id }}</td>
                <td>{{ page.title }}</td>
                <td>{{ page.created }}</td>     
            </tr>
        </table>

        <script src="/javascripts/app.js"></script>
    </body>
</html>
